.container {
    width: 700px;
    margin: 50px auto;
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.container.form{
    background-color: #FFFFFF;
    text-align: center;
}

.container.history{
    background-color: #ddd;
    min-height: 100px;
}

.title {
    text-align: center;
    font-size: 25px;
}

